[Unit]
Description=Cycle Switch Control Service
After=network.target

[Service]
# User=pi
WorkingDirectory=/home/pi/work/cycle_switch
ExecStart=/home/pi/.venv/bin/python3 /home/pi/work/cycle_switch/app.py on
ExecStop=/home/pi/.venv/bin/python3 /home/pi/work/cycle_switch/app.py off
Restart=always
# RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cycle_switch

# GPIOアクセスに必要な権限
# PermissionsStartOnly=true
# ExecStartPre=/bin/sleep 10

[Install]
WantedBy=multi-user.target
